*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    direction: rtl
}

@import './base/variable';
@import './base/general';

@import './components/header';

@import './pages/homepage';
@import './pages/categories';
