.comments-section{

    padding-inline: 100px;
    padding-block: 50px;
    background-color: rgba($color: lightgray, $alpha: 0.2);
    border-radius: 10px;
    margin-block: 50px;

.comments-list{
     list-style-type: none;
    margin-bottom: 50px;
    padding-top: 20px;
    margin-top: 100px;
    .single-comment{
       
        padding: 10px 20px;
        .comment-author{
            font-weight: 700;
        }

        .comment-content{
            margin-top: 10px;
            
        }
    }
}

.comment-form{

    .comment-form-author{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        input{
            width: 300px;
            padding: 10px 20px;
            border-radius: 6px;
        }
    }

    .comment-form-comment{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        textarea{
            width: 600px;
            padding: 10px 20px;
            border-radius: 6px;
        }
    }

    .form-submit{
        .submit{
            border-radius: 10px;
            padding: 10px 30px;
            font-size: 20px;
            font-weight: 300;
            background-color: transparent;
            cursor: pointer;
            transition: all ease-in-out 0.2s;
            &:hover{
                background-color: $cyan;
            }
        }
    }
}
}