.page,
.single,
.archive{

    padding-inline: 240px;
    min-height: 100vh;
    background-color: rgba($color: $background, $alpha: 0.3);
    font-family: $main_font;

    @media only screen and (max-width: 1700px) {
        padding-inline: 60px;
    }

    @media only screen and (max-width: 768px) {
        padding-inline: 20px;
    }
}

.aliza-page{
    min-height: 80vh;
}

.back-button{
    background: none;
    border: 1px solid $text;
    color: $text;
    padding: 5px 10px;
    border-radius: 16px;
}