// colors
$red:#d90429;
$cyan:#E7FAFE;
$text:#0f4c5c;
$background:#f9dcc4;

// fonts
@font-face {
    font-family: "OpenSans";
    src: url("../../assets/fonts/openSans/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "OpenSans";
    src: url("../../assets/fonts/openSans/OpenSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "OpenSans";
    src: url("../../assets/fonts/openSans/OpenSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }



  $main_font:'OpenSans';

  *{
    font-family: $main_font;
  }